<header>
    <nav>
        <div id="hambarger">
            <div ></div>
            <div ></div>
            <div ></div>
        </div>
    
        <!-- body of nav  bar  -->
        <section>
            <div> 
               <h3>Menu</h3>
               <img src="../../../assets/images/close.svg" alt="">
            </div>
            <div>
                <h3>Home</h3>
            </div>
            <div>
                <h3>About</h3>
            </div>
            <div>
                <h3>Widgets</h3>
                <ul>
                    <li>Grocerry</li>
                    <li>Discount</li>
                    <li>Huge Sale</li>
                </ul>
            </div>
            <div>
                <h3>Juice</h3>
                <ul>
                    <li>Russi</li>
                    <li>Paneer Pyaza</li>
                    <li>Rasbhari</li>
                </ul>
            </div>
            <div>
                <h3>Contact</h3>
            </div>
        </section>
    </nav>

</header>

